[{rabbit, [
            {auth_backends, [rabbit_auth_backend_internal, rabbit_auth_backend_http]}
          ]
 },
 %% See HTTP backend docs for details
 {rabbitmq_auth_backend_http,
   [{http_method,   post},
    {user_path,     "http://localhost/api/mq-auth/user"},
    {vhost_path,    "http://localhost/api/mq-auth/vhost"},
    {resource_path, "http://localhost/api/mq-auth/resource"}]
 }
].
